<div id="heading-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Customer Survey</h1>
			</div>
			<div class="col-md-6">
				<ul class="breadcrumb">
					<li><a href="/home">Home</a>
					</li>
					<li>Customer Survey</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<section>
			<div class="row text-center">
				<div class="col-md-12">
					<div class="heading">
						<h2>Would You Recommend<br>www.Wayuu-Mochila-Bags.com?</h2>
					</div>
					<a href="/great">
						<%= image_tag("survey/ButtomYES-150x150.png") %>
					</a>
					<a class="" href="/oh-no">
						<%= image_tag("survey/buttomNO-150x150.png") %>
					</a>
					<br>
					<%= image_tag("survey/WayuuMochilaBags-1.gif") %>
				</div>
			</div>
		</section>
	</div>
</div>