<div id="heading-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Customer Survey</h1>
			</div>
			<div class="col-md-6">
				<ul class="breadcrumb">
					<li><a href="/home">Home</a>
					</li>
					<li>Customer Survey</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<section>
			<div class="row text-center">
				<div class="col-md-12">
					<div class="heading">
						<h2>Oh-No!</h2>
					</div>
					<%= image_tag("survey/GIF-22.gif") %>
				</div>
			</div>
			<br><br>
			<ul>
				<li class="lead"><b>1 in every 40 completed Customer Surveys qualifies to be in the “DRAW” for a Free Wayuu Large Mochila </b></li>
			</ul>
			<ul>
				<li class="lead">Maximum of (10) prizes per month.</li>
			</ul>
			<ul>
				<li class="lead">A purchase from <a href="http://wayuu-mochila-bags.com">www.Wayuu-Mochila-Bags.com’s</a> website  or <a href="http://stores.ebay.com/Wayuu-Mochila-Bags">eBay Store</a>  is necessary to qualify to win.</li>
			</ul>
			<ul>
				<li class="lead">Maximum of 1 prize per calendar month per person.</li>
			</ul>
			<ul>
				<li class="lead">All prizes will be announced on the 15th of the following month.</li>
			</ul>
			<ul>
				<li class="lead">Finally, if you leave a review tell us why you love or dislike your Wayuu Mochila and <a href="http://www.Wayuu-Mochila-Bags.com">www.Wayuu-Mochila-Bags.com</a></li>
			</ul>




			<div id="ninja_forms_form_5_all_fields_wrap" class="ninja-forms-all-fields-wrap">
				<div class="ninja-forms-required-items">Fields marked with an <span class="ninja-forms-req-symbol">*</span> are required</div>
				<div class="field-wrap textarea-wrap label-above"  id="ninja_forms_field_6_div_wrap" data-visible="1">
					<input type="hidden" id="ninja_forms_field_6_type" value="textarea">
					<label for="ninja_forms_field_6" id="ninja_forms_field_6_label" class="">What do you like most about www.Wayuu-Mochila-Bags.com? 				</label>
					<textarea name="ninja_forms_field_6" id="ninja_forms_field_6" class="ninja-forms-field " rel="6" data-input-limit="" data-input-limit-type="char" data-input-limit-msg="character(s) left"></textarea>
					<div id="ninja_forms_field_6_error" style="display:none;" class="ninja-forms-field-error">
					</div>
				</div>
				<div class="field-wrap textarea-wrap label-above"  id="ninja_forms_field_7_div_wrap" data-visible="1">
					<input type="hidden" id="ninja_forms_field_7_type" value="textarea">
					<label for="ninja_forms_field_7" id="ninja_forms_field_7_label" class="">What could www.Wayuu-Mochila-Bags.com do to improve? <span class='ninja-forms-req-symbol'><strong>*</strong></span>				</label>
					<textarea name="ninja_forms_field_7" id="ninja_forms_field_7" class="ninja-forms-field  ninja-forms-req" rel="7" data-input-limit="" data-input-limit-type="char" data-input-limit-msg="character(s) left"></textarea>
					<div id="ninja_forms_field_7_error" style="display:none;" class="ninja-forms-field-error">
					</div>
				</div>
				<div class="field-wrap text-wrap label-inside"  id="ninja_forms_field_8_div_wrap" data-visible="1">
					<input type="hidden" id="ninja_forms_field_8_type" value="text">
					<input id="ninja_forms_field_8" data-mask="" data-input-limit="" data-input-limit-type="char" data-input-limit-msg="" name="ninja_forms_field_8" type="text" placeholder="" class="ninja-forms-field  " value="First Name" rel="8"   />
					<input type="hidden" id="ninja_forms_field_8_label_hidden" value="First Name">
					<div id="ninja_forms_field_8_error" style="display:none;" class="ninja-forms-field-error">
					</div>
				</div>
				<div class="field-wrap text-wrap label-inside"  id="ninja_forms_field_9_div_wrap" data-visible="1">
					<input type="hidden" id="ninja_forms_field_9_type" value="text">
					<input id="ninja_forms_field_9" data-mask="" data-input-limit="" data-input-limit-type="char" data-input-limit-msg="" name="ninja_forms_field_9" type="text" placeholder="" class="ninja-forms-field  " value="Last Name" rel="9"   />
					<input type="hidden" id="ninja_forms_field_9_label_hidden" value="Last Name">
					<div id="ninja_forms_field_9_error" style="display:none;" class="ninja-forms-field-error">
					</div>
				</div>
				<div class="field-wrap text-wrap label-above"  id="ninja_forms_field_10_div_wrap" data-visible="1">
					<input type="hidden" id="ninja_forms_field_10_type" value="text">
					<label for="ninja_forms_field_10" id="ninja_forms_field_10_label" class="">Phone <span class='ninja-forms-req-symbol'><strong>*</strong></span>				</label>
					<input id="ninja_forms_field_10" data-mask="(999) 999-9999" data-input-limit="" data-input-limit-type="char" data-input-limit-msg="" name="ninja_forms_field_10" type="text" placeholder="" class="ninja-forms-field  ninja-forms-req ninja-forms-mask" value="" rel="10"   />
					<div id="ninja_forms_field_10_error" style="display:none;" class="ninja-forms-field-error">
					</div>
				</div>
				<div class="field-wrap checkbox-wrap label-above"  id="ninja_forms_field_11_div_wrap" data-visible="1">
					<input type="hidden" id="ninja_forms_field_11_type" value="checkbox">
					<label for="ninja_forms_field_11" id="ninja_forms_field_11_label" class="">Remain Anonymous 				</label>
					<input id="" name="ninja_forms_field_11" type="hidden" value="unchecked" /><input id="ninja_forms_field_11" name="ninja_forms_field_11" type="checkbox" class="ninja-forms-field " value="checked"  rel="11"/>	<div id="ninja_forms_field_11_error" style="display:none;" class="ninja-forms-field-error">
				</div>
				<div class="ninja-forms-field-description"><div id="content" class="span9 article-container">
					<article id="page-484" class="row-fluid post-484 page type-page status-publish hentry hover">
						<div class="entry-content">
							<div id="ninja_forms_form_4_cont" class="ninja-forms-cont">
								<div id="ninja_forms_form_4_wrap" class="ninja-forms-form-wrap">
									<form id="ninja_forms_form_4" class="ninja-forms-form" action="http://www.greenscenehomeinspections.com/customer-satisfaction-survey/oh-no/?utm_source=website&amp;utm_medium=CSS&amp;utm_campaign=No" enctype="multipart/form-data" method="post" name="">
										<div id="ninja_forms_form_4_all_fields_wrap" class="ninja-forms-all-fields-wrap">
											<div id="ninja_forms_field_47_div_wrap" class="field-wrap checkbox-wrap label-right" data-visible="1">
												<div class="ninja-forms-field-description">
													<p>Privacy Notice: We associate your review online with your name and phone number because it helps validate your feedback. However, if you would like to hide your identity, you may do so by checking the box below.</p>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</article>
				</div>
				<p>&nbsp;</p>
			</div>						</div>
			<div class="field-wrap spam-wrap label-above"  id="ninja_forms_field_12_div_wrap" data-visible="1">
				<input type="hidden" id="ninja_forms_field_12_type" value="spam">
				<label for="ninja_forms_field_12" id="ninja_forms_field_12_label" class="">5+5= (numbers only) <span class='ninja-forms-req-symbol'><strong>*</strong></span>				</label>
				<input id="ninja_forms_field_12" name="ninja_forms_field_12" type="text" class="ninja-forms-field  ninja-forms-req" value="" rel="12" />
				<div id="ninja_forms_field_12_error" style="display:none;" class="ninja-forms-field-error">
				</div>
			</div>
			<div class="field-wrap submit-wrap label-above"  id="ninja_forms_field_5_div_wrap" data-visible="1">
				<input type="hidden" id="ninja_forms_field_5_type" value="submit">
				<div id="nf_submit_5">
					<input type="submit" name="_ninja_forms_field_5" class="ninja-forms-field " id="ninja_forms_field_5" value="Submit" rel="5" >
				</div>
				<div id="nf_processing_5" style="display:none;">
					<input type="submit" name="_ninja_forms_field_5" class="ninja-forms-field " id="ninja_forms_field_5" value="Processing" rel="5" disabled>
				</div>
				<div id="ninja_forms_field_5_error" style="display:none;" class="ninja-forms-field-error">
				</div>
			</div>
		</div>
	</form>






	
</section>
</div>
</div>