<div id="heading-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Customer Survey</h1>
			</div>
			<div class="col-md-6">
				<ul class="breadcrumb">
					<li><a href="/home">Home</a>
					</li>
					<li>Customer Survey</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<section>
			<div class="row text-center">
				<div class="col-md-12">
					<div class="heading">
						<h2>Great!</h2>
					</div>
					<%= image_tag("survey/GIF-22.gif") %>
				</div>
			</div>
			<br><br>
			<ul>
				<li class="lead"><b>1 in every 40 completed Customer Surveys qualifies to be in the “DRAW” for a Free Wayuu Large Mochila </b></li>
			</ul>
			<ul>
				<li class="lead">Maximum of (10) prizes per month.</li>
			</ul>
			<ul>
				<li class="lead">A purchase from <a href="http://wayuu-mochila-bags.com">www.Wayuu-Mochila-Bags.com’s</a> website  or <a href="http://stores.ebay.com/Wayuu-Mochila-Bags">eBay Store</a>  is necessary to qualify to win.</li>
			</ul>
			<ul>
				<li class="lead">Maximum of 1 prize per calendar month per person.</li>
			</ul>
			<ul>
				<li class="lead">All prizes will be announced on the 15th of the following month.</li>
			</ul>
			<ul>
				<li class="lead">Finally, if you leave a review tell us why you love your Wayuu Mochila and <a href="http://www.Wayuu-Mochila-Bags.com">www.Wayuu-Mochila-Bags.com</a></li>
			</ul>
			<br>
			<a href="https://www.facebook.com/WayuumBags/reviews/">
				<%= image_tag("survey/FB-Review-300x188.png") %>
			</a>
			<a href="https://goo.gl/maps/poXit5H4ivG2">
				<%= image_tag("survey/Google_Mobile1.png") %>
			</a>
			<a href="https://plus.google.com/+WayuumochilabagsStore/posts?review=1">
				<%= image_tag("survey/Google-Review-300x188.png") %>
			</a>
		</section>
	</div>
</div>