<!-- *** HOMEPAGE CAROUSEL *** -->
<section>
	<div class="home-carousel">
		<div class="dark-mask"></div>
		<div class="container">
			<div class="homepage owl-carousel">
				<div class="item">
					<div class="row">
						<%= image_tag("shop/b1.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<%= image_tag("shop/b2.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<%= image_tag("shop/b3.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<%= image_tag("shop/b4.jpg", class: "img-responsive margin-auto") %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- *** HOMEPAGE CAROUSEL END *** -->
<section class="bar background-white no-mb">
	<div class="container">
		<div class="col-md-12">
			<div class="heading text-center">
				<h2>WHY OUR WAYUU TEAM?</h2>
			</div>
			<p id="lessText" class="lead text-center">Wayuu Mochila Bags are for every day, every outfit, and every personality! These handmade pieces of art will surely be the most unique bags you’ll come across in the world. The indigenous people that make them treat each piece as a canvas bringing out their passion and heart into each piece they create.<a id="seeMoreLink" class="accent" href="" onclick="seeMore(); return false;"> ...See More</a>
			</p>
			<p id="moreText" class="lead text-center">Wayuu Mochila Bags are for every day, every outfit, and every personality! These handmade pieces of art will surely be the most unique bags you’ll come across in the world. The indigenous people that make them treat each piece as a canvas bringing out their passion and heart into each piece they create. Their skill and creativity will certainly impress men and women of all ages across many different cultures. Our goal is to share the beauty of the bags with the world as we bring awareness of the Wayuu people of Colombia. This will surely help to preserve their culture for many generations to come! In a short period of time, we have gone from an idea to actually putting something really fun and exciting together as we have been actively traveling and interacting with the Wayuu culture. It truly has been quite an exciting adventure our team has been on thus far. We have already employed people from different regions of Colombia and the United States. Striving for rapid growth while also creating an amazing company is something we work hard for each day. Bringing you the highest quality Wayuu Mochila Bags is something I know we can promise! We know with your support that our company will grow rapidly for many years to come. When you buy a bag you know you are helping many people along the way across multiple countries. A humanitarian way of producing a quality product for our customers is something our team has created. As of today, we are shipping worldwide and are reaching customers internationally. Be different, be unique, be Wayuu!<br><br><i>Brandon Miller, Founder of Wayuu-Mochila-Bags.com</i><span><a id="seeLessLink" class="accent" href="" onclick="seeLess(); return false;">See Less</a></span>
			</p>
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- /.bar -->
<section class="bar background-image-fixed-2 no-mb color-white text-center">
	<div class="dark-mask"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="icon icon-lg"><i class="fa fa-file-code-o"></i>
				</div>
				<h3 class="text-uppercase">Do you want to see more?</h3>
				<p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.</p>
				<p class="text-center">
					<a href="index2.html" class="btn btn-template-transparent-black btn-lg">Check other homepage</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="bar background-white no-mb">
	<div class="container">
		<div class="col-md-12">
			<div class="heading text-center">
				<h2>From our blog</h2>
			</div>
			<p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
				mi vitae est. Mauris placerat eleifend leo. <span class="accent">Check our blog!</span>
			</p>
			<!-- *** BLOG HOMEPAGE *** -->
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
								<img src="img/portfolio-4.jpg" alt="" class="img-responsive">
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">Fashion now</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
								<img src="img/portfolio-3.jpg" alt="" class="img-responsive">
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">Fashion now</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
								<img src="img/portfolio-5.jpg" alt="" class="img-responsive">
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">What to do</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top">
							<div class="image">
								<img src="img/portfolio-6.jpg" alt="" class="img-responsive">
							</div>
							<div class="bg"></div>
							<div class="text">
								<p class="buttons">
									<a href="blog-post.html" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
								</p>
							</div>
						</div>
						<div class="content">
							<h4><a href="blog-post.html">5 ways to look awesome</a></h4>
							<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
							</p>
							<p class="intro">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people.</p>
							<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
							</p>
						</div>
					</div>
					<!-- /.box-image-text -->
				</div>
			</div>
			<!-- /.row -->
			<!-- *** BLOG HOMEPAGE END *** -->
		</div>
	</div>
	<!-- /.container -->
</section>
<!-- /.bar -->
<section class="bar background-gray no-mb">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading text-center">
					<h2>Our clients</h2>
				</div>
				<ul class="owl-carousel customers">
					<li class="item">
						<img src="img/customer-1.png" alt="" class="img-responsive">
					</li>
					<li class="item">
						<img src="img/customer-2.png" alt="" class="img-responsive">
					</li>
					<li class="item">
						<img src="img/customer-3.png" alt="" class="img-responsive">
					</li>
					<li class="item">
						<img src="img/customer-4.png" alt="" class="img-responsive">
					</li>
					<li class="item">
						<img src="img/customer-5.png" alt="" class="img-responsive">
					</li>
					<li class="item">
						<img src="img/customer-6.png" alt="" class="img-responsive">
					</li>
				</ul>
				<!-- /.owl-carousel -->
			</div>
		</div>
	</div>
</section>