<div>
	<section>
		<input type="radio" name="slider-select-element" id="img1" checked="checked"/>
		<input type="radio" name="slider-select-element" id="img2"/>
		<input type="radio" name="slider-select-element" id="img3"/>
		<input type="radio" name="slider-select-element" id="img4"/>
		<div id="slider-container">
			<div id="slider-box">
				<div class="slider-element">
					<%= image_tag("shop/b1.jpg", class: "img-responsive") %>
				</div>
				<div class="slider-element">
					<%= image_tag("shop/b2.jpg", class: "img-responsive") %>
				</div>
				<div class="slider-element">
					<%= image_tag("shop/b3.jpg", class: "img-responsive") %>
				</div>
				<div class="slider-element">
					<%= image_tag("shop/b4.jpg", class: "img-responsive") %>
				</div>
			</div>
		</div>
		<div id="slider-arrows">
			<label for="img1">O</label>
			<label for="img2">O</label>
			<label for="img3">O</label>
			<label for="img4">O</label>
		</div>
	</section>
</div>
<div class="container">
	<h1 class="home">WHY OUR WAYUU TEAM?</h1>
	<p id="lessText" class="home">
		Wayuu Mochila Bags are for every day, every outfit, and every personality! These handmade pieces of art will surely be the most unique bags you’ll come across in the world. The indigenous people that make them treat each piece as a canvas bringing out their passion and heart into each piece they create.<span><a id="seeMoreLink" class="text-link" href="" onclick="seeMore(); return false;"> ...See More</a></span>
	</p>
	<p id="moreText" class="home">
		Wayuu Mochila Bags are for every day, every outfit, and every personality! These handmade pieces of art will surely be the most unique bags you’ll come across in the world. The indigenous people that make them treat each piece as a canvas bringing out their passion and heart into each piece they create. Their skill and creativity will certainly impress men and women of all ages across many different cultures. Our goal is to share the beauty of the bags with the world as we bring awareness of the Wayuu people of Colombia. This will surely help to preserve their culture for many generations to come! In a short period of time, we have gone from an idea to actually putting something really fun and exciting together as we have been actively traveling and interacting with the Wayuu culture. It truly has been quite an exciting adventure our team has been on thus far. We have already employed people from different regions of Colombia and the United States. Striving for rapid growth while also creating an amazing company is something we work hard for each day. Bringing you the highest quality Wayuu Mochila Bags is something I know we can promise! We know with your support that our company will grow rapidly for many years to come. When you buy a bag you know you are helping many people along the way across multiple countries. A humanitarian way of producing a quality product for our customers is something our team has created. As of today, we are shipping worldwide and are reaching customers internationally. Be different, be unique, be Wayuu!<br><br>
		<i>Brandon Miller, Founder of Wayuu-Mochila-Bags.com</i><span><a id="seeLessLink" class="text-link" href="" onclick="seeLess(); return false;">See Less</a></span>
	</p>		
</div>