<div class="box">
  <ul class="nav nav-pills nav-justified">
      <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
      </li>
      <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Delivery address</a>
      </li>
      <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Billing address</a>
      </li>
      <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a>
      </li>

  </ul>

  <div class="content">
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="firstname">Firstname</label>
                  <input type="text" class="form-control" id="firstname">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="lastname">Lastname</label>
                  <input type="text" class="form-control" id="lastname">
              </div>
          </div>
      </div>
      <!-- /.row -->

      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="company">Company</label>
                  <input type="text" class="form-control" id="company">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="street">Street</label>
                  <input type="text" class="form-control" id="street">
              </div>
          </div>
      </div>
      <!-- /.row -->

      <div class="row">
          <div class="col-sm-6 col-md-3">
              <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city">
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="form-group">
                  <label for="zip">ZIP</label>
                  <input type="text" class="form-control" id="zip">
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="state">
              </div>
          </div>
          <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label for="phone">Country</label>
                <select class="form-control" data-live-search="true" id="country" name="country" style="font-size: 15px">
                  <%= @country.each do |t| %>
                    <option style="font-size: 15px"><%= t.code %></option>
                  <% end %>
                </select>
              </div>
          </div>

          <div class="col-sm-6">
              <div class="form-group">
                  <label for="phone">Telephone</label>
                  <input type="text" class="form-control" id="phone">
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email">
              </div>
          </div>

      </div>
      <!-- /.row -->
  </div>

  <div class="box-footer">
      <div class="pull-left">
          <a href="<%= checkout_index_path %>" class="btn btn-default"><i class="fa fa-chevron-left"></i>Order</a>
      </div>
      <div class="pull-right">
          <button id="first-data" class="btn btn-template-main">Delivery address<i class="fa fa-chevron-right"></i></button>
      </div>
  </div>

</div>
<!-- /.box -->
