<%= stylesheet_link_tag 'blog', media: 'all' %>

<div id="page-wrapper" style="background-color: #FFFFFF; margin-top: 15px">

<div class="container-fluid">
  <div class="pull-right">
    <button title="Save" id="addblog" class="btn btn-primary"><i class="fa fa-save"></i></button>
  </div>
  <h1>Blog</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-pencil"></i>Post new article</h3>
  </div>
  <div class="panel-body" style="margin-top: 20px">
    <%= form_tag('admin/blog/new', id: 'form-blog', class: 'form-horizontal') do %>
    <div id="tab-data">
      <div class="form-group required">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10 ">
          <input type="text" placeholder="Article Title" class="form-control" id="title" style="text-align:center; font-weight: bold;"/>
        </div>
      </div>
      <div class="form-group required">
        <label class="col-sm-2 control-label">Summary</label>
        <div class="col-sm-10">
          <textarea class="form-control" placeholder="Put here a brief description about article" style="min-width: 100%; max-width: 100%; min-height: 35px;" id="description"></textarea>
        </div>
      </div>
      <div class="form-group required">
        <label class="col-sm-2 control-label">Content</label>
        <div class="col-sm-10">
          <div id="editor">
            <div id='edit' style="margin-top: 30px;">
            </div>
          </div>
        </div>
      </div>
      <%= javascript_include_tag 'blog' %><br>
    </div>
    <%  end %>
  </div>
</div>
