// Place all the styles related to the ProductImage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropzone {
  background: #f4f4f4 !important;
  border: none !important;
  font-size: 2.5rem;
  font-weight: 700;
}
