<!--copy-->
<div class="copy-section">
	<div class="container">
		<div class="copy-left">
			<p>&copy; 2016 New Shop . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
		<div class="copy-right">
			<img src="images/card.png" alt=""/>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--copy-->