<!-- *** FOOTER *** -->
<footer id="footer">
	<div class="container text-center">
		<div class="col-md-4 col-sm-4 top-footer">
			<%= image_tag("shop/location-footer.png", :id => "locationimage") %>
			<p><br>
				U.S.A. Office<br>
				1312 Elm Dr.<br>
				Office 1<br>
				Wylie, Texas<br>
				United States of America<br>
				Colombia Office<br>
				Carrera 60#4g-59<br>
				Bogota, Colombia<br>
				Coming Soon<br>
				Riohacha, Colombia<br>
			</p>
		</div>
		<div class="col-md-4 col-sm-4 top-footer">
			<%= image_tag("shop/mail-footer.png", class: "mail-footer", :id => "emailimage") %>
			<p><br>
				e-Mail us<br>
				Help@Wayuu-Mochila-Bags.com<br>
			</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag("shop/phone-footer.png", :id => "phoneimage") %>
			<p><br>
				Toll Free 1(855) WAYUU-55<br>
				or <br>
				1(855) 929-8855<br>
			</p>
		</div>
	</div>
</footer>
<!-- *** FOOTER END *** -->
<!-- *** COPYRIGHT *** -->
<div id="copyright">
	<div class="container">
		<div class="col-md-12">
			<h4 class="pull-left">&copy; 2016. Wayuu Team</h4>
			<h4 class="pull-right">Template by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>
				<!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
			</h4>
		</div>
	</div>
</div>
<!-- *** COPYRIGHT END *** -->
