<!DOCTYPE html>
<html>
  <head>
    <title>Developers</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'hometeam', media: 'all' %>
    <%= javascript_include_tag 'hometeam' %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
