<div class="footer">
	<div class="footer-container">
		<div class="footer-col">
			<%= image_tag("shop/location-footer.png") %>
			<p>
				U.S.A. Office<br>
				1312 Elm Dr.<br>
				Office 1<br>
				Wylie, Texas<br>
				United States of America<br>
				Colombia Office<br>
				Carrera 60#4g-59<br>
				Bogota, Colombia<br>
				Coming Soon<br>
				Riohacha, Colombia
			</p>
		</div>
		<div class="footer-col">
			<%= image_tag("shop/mail-footer.png") %>
			<p>
				e-Mail us<br>
				Help@Wayuu-Mochila-Bags.com
			</p>
		</div>
		<div class="footer-col">
			<%= image_tag("shop/phone-footer.png") %>
			<p>
				Toll Free 1(855) WAYUU-55<br>
				or <br>
				1(855) 929-8855
			</p>
		</div>
	</div>
</div>
<div class="copyright">Copyright 2016<br>Wayuu Developer Team</div>
